<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <!-- 请求静态资源 -->
    <link rel="stylesheet" href="css/login.css">
</head>

<body>
    <h5>这是服务端渲染之不使用ejs而是使用html版本：</h5>
    <div>
        <div>
            用户名：
            <input id="name" />
        </div>
        <div>
            密码：
            <input type="password" id="password" />
        </div>
        <div>
            <button id="login">登录——发get请求</button>
            <button id="loginpost">登录——发post请求</button>
        </div>
    </div>

    <script>
        var username = document.querySelector('#name')
        var password = document.querySelector('#password')
        var login = document.querySelector('#login')
        var loginpost = document.querySelector('#loginpost')

        // fetch发get和post请求
        login.onclick = () => {
            //console.log(username.value, password.value);
            fetch(`/login?username=${username.value}&password=${password.value}`).then(res => res.text())
                .then(res => {
                    console.log(res);
                })
        }
        loginpost.onclick = () => {
            fetch(`/login`, {
                method: 'POST',
                body: JSON.stringify({
                    username: username.value,
                    password: password.value
                }),
                headers: {
                    "Content-Type": "application/json"
                }
            })
                .then(res => res.json())
                .then(res => {
                    console.log(res);
                    if (res.ok === 1) {
                        location.href = "/home.html"
                    } else {
                        console.log('无法跳到home页面');
                    }
                })
        }
    </script>
</body>

</html>